body, html {
    font-family: 'Poppins', sans-serif;
}

.poppins-primary-font {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.poppins-navbar {
    font-size: 50px;
}

/*.container {*/
/*    width: calc(100% - 320px);*/
/*    margin: 0 auto;*/
/*    padding: 0 160px;*/
/*}*/

.navbar {
    width: 100%;
    height: 74px;
    background-color: #C23A3A;
    padding: 0 20px;
    z-index: 1000;
}

.nav-link{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.download-button {
    width: 278px;
    height: 52px;
    background-color: #174B66;
    color: #F4F1EA;
    border-radius: 20px;
    border: 2px solid #660000;
    text-align: center;
    line-height: 52px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.herospace {
    height: 786px;  
    background-color: #FFFFFF;
    text-align: left;
    padding: 40px;
    align-items: center;
}

/*.herospace-content {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*}*/

.herospace-image img {
    max-width: 170%;
    height: auto;
}

.herospace-title {
    font-size: 55px;
    font-weight: bold;
    color: #174B66;
    margin-bottom: 0;
}

.herospace-subtitle {
    font-size: 30px;
    font-weight: 500;
    color: #C23A3A;
    margin-top: 5px;
}

#HeroText {
    text-align: left;
    /*padding-top: 242px;*/
    padding-left: 144px;
}

.HeroHeading{
    color: #C23A3A;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HeroSubHeading{
    color: #174B66;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
}

.feature {
    position: relative;
}

.herospace-features {
    text-align: left;
}

.ellipse {
    width: 37.37px;
    height: 37.37px;
    border-radius: 50%;
    background-color: #E02323;
    margin-right: 10px;
    float: left;
    position: relative;
}

.checkmark {
    color: #F4F1EA;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.feature-description {
    font-size: 25px;
    font-weight: 500;
    color: #174B66;
    margin-bottom: 20px;
}

.app-store-button{
    width: 171px;
    height: 51px;
    background-color: #000;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.app-store-button span span{
    font-size: 20px;
}

.section2 {
    width: 100%;  
    /*height: 987px;*/
    background-color: #F4F1EA;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.section2-title {
    font-size: 45px;
    font-weight: bold;
    color: #174B66;
    margin-bottom: 20px;
}

.section2-description {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

body{
    font-family: 'DM Sans', serif;
}

section{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    padding:20px;
}

/* todo make this a class or else this will cause an error on the page. id with same name can't be used twice in html page*/
#mockup_text{
    align-content: center;
    justify-content: center;
}
#mockup_2{
    background-color: #F4F1EA;
}


.radar_rescue_heading {
    color: #174B66;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.radar_rescue_card1 {
    background-color: #C23A3A;
    color: white;
}

.radar_rescue_card2 {
    background-color: #174B66;
    color: white;
}

.col img {
    width: auto%;  
    height: auto;  
    margin: 0 auto;  
}


